{% extends 'dashboard/base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<!--   <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-info">Login</button>
  </form> -->

<!-- <form action="{% url 'login' %}" method="post" accept-charset="utf-8">
	<div class="form-group">

		<h2>Login</h2>
	    {% csrf_token %}
	    {% for field in form %}

	    <div class="form-group">
	    <label for="InputUsername">{{ field.label }}</label>
    	<input type="text" class="form-control" id="InputUsername" aria-describedby="userHelp" name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value }}" >
     	</div>

	    {% endfor %}
	</div>
    <button type="submit" class="btn btn-info">Login</button>
</form> -->


<form action="{% url 'login' %}" method="post" accept-charset="utf-8">
	<div class="form-group loginform">
    {% csrf_token %}
    {% for field in form %}
    	<div class="form-group">
        <label>{{ field.label }}</label>
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
        {{ field }}
    	</div>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn btn-info">Login</button>
	</div>
</form>



{% endblock %}